.dashboard-container {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
}

.resumen {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.card {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 40%;
  justify-content:  center;
}

.card h3 {
  margin-bottom: 1.5rem;
}

.acciones {
  margin-top: 2rem;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}
