<div class="dashboard-container">
  <h2>Panel Principal</h2>

  <div class="resumen">
    <div class="card">
      <h3>Total de Usuarios</h3>
      <p>{{ totalUsuarios }}</p>
    </div>

    <div class="card">
      <h3>Total de Libros</h3>
      <p>{{ totalLibros }}</p>
    </div>
  </div>

    <div class="card">
      <h3>Total de Librerías</h3>
      <p>{{ totalLibrerias }}</p>
    </div>  

  <p *ngIf="mensaje" class="error">{{ mensaje }}</p>

  <div class="text-center mt-4">
    <button class="btn btn-primary me-2" routerLink="/libros">Gestión de Libros</button>
    <button class="btn btn-outline-primary" routerLink="/librerias">Ver Librerías</button>
  </div>
</div>
